line {
        stroke: #999;
        stroke-opacity: 0.6;
}

circle {
        stroke: #fff;
        stroke-width: 1.5px;
}

.fixed {
  /*fill: #f00;*/
  border: 1px solid #f00;
}

text {
    font: 14px sans-serif;
    pointer-events: none;
  }

  text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
  }

svg {
  border: 1px solid #666666;
  position:relative;
}

div.tooltip {
  z-index: 100;
  position: absolute;
  max-width: 200px;
  height: auto;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
}